pipeline/copydata.json
{
	"name": "copydata",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "file",
						"value": "customers"
					},
					{
						"name": "system",
						"value": "blue"
					},
					{
						"name": "region",
						"value": "apac"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filename",
								"value": "$$FILENAME"
							},
							{
								"name": "orderid",
								"value": "$$COLUMN:oid"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"maxConcurrentConnections": 0,
							"recursive": true,
							"wildcardFolderPath": "raw/transactions",
							"wildcardFileName": "*.txt",
							"enablePartitionDiscovery": true,
							"partitionRootPath": "tu-technogrand-cont/raw/transactions"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 2,
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "ls_adls_storage",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "oid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "oid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "pid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "pid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ppd",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ppd",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "qty",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "qty",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "totqty",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "totqty",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "stkstatus",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "stkstatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "year",
									"type": "String"
								},
								"sink": {
									"name": "year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "filename",
									"type": "String"
								},
								"sink": {
									"name": "filename",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "orderid",
									"type": "String"
								},
								"sink": {
									"name": "orderid",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_folder_get",
						"type": "DatasetReference",
						"parameters": {
							"folder": "raw"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_text",
						"type": "DatasetReference",
						"parameters": {
							"filename": "c",
							"folder": "b"
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_folder_get",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().type,'Folder')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data2",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_adls_text",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													},
													"folder": {
														"value": "@pipeline().parameters.folder",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_folder",
												"type": "DatasetReference",
												"parameters": {
													"out": "output",
													"filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "wait",
												"type": "PipelineReference"
											},
											"waitOnCompletion": false
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"folder": {
				"type": "string",
				"defaultValue": "raw"
			}
		},
		"folder": {
			"name": "practice"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-17T03:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}