pipeline/loop.json
{
	"name": "loop",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(variables('temp'),10)\n\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp",
								"value": {
									"value": "@add(variables('t2'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "t2",
								"value": {
									"value": "@variables('temp')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Until1_copy1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('status'),'SUCCESS')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": "https://prod-72.eastus.logic.azure.com:443/workflows/706a7f84de8a4868a2dd7bfbe39865ab/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=n-YJwMc3RXjdT63vRy-TihqeKq520uvqgrXD9oQgRWc"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "SUCCESS",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "FAILED",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"timeout": "0.00:59:00"
				}
			}
		],
		"variables": {
			"temp": {
				"type": "Integer",
				"defaultValue": 0
			},
			"t2": {
				"type": "Integer",
				"defaultValue": 0
			},
			"status": {
				"type": "String",
				"defaultValue": "FAIL"
			}
		},
		"folder": {
			"name": "practice"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-12T03:38:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}